venv/**
*.pyc
generated_data/**
*events.out.tfevents.*.*gi
**/__pycache__/**
/src/**/summary
/src/stupidBaseline_1/generated_data/**
wwf_data_v1
**/.ipynb_checkpoints/**
**/stupidBaseline_1/generated_data_b1/**
__pycache__/
/src/**/summary
/src/**/summary_data
/src/**/summary_data/*
wwf_data_v1
**/.ipynb_checkpoints/**
/MetaData/.ipynb_checkpoints/
/generated_data_v1/
/generated_data_v0/
/Data_Raw/
/src/model_002/model_files/
/src/data_preprocessor/.ipynb_checkpoints/
